.sign-up-form {
    width: 24rem;
    min-height: 18rem;
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}